<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="branchMapper">

	<!-- branch 체크 -->
	<select id="b_no_check" resultType="com.franchaining.vo.RegVO">
        select b_no 
        from branch
        where b_no = #{b_no}
    </select>
    
    <select id="BranchCount" resultType="int">
		SELECT COUNT(*)
		   FROM BRANCH
		   WHERE B_NO != 0
	</select>
	
	<select id="branchlist" resultType="com.franchaining.vo.BranchVO">
		select branch.b_no, branch.b_name, emp.e_name, branch.b_phone1, branch.b_phone2, branch.b_phone3
		from branch, emp
        where (branch.b_no = emp.b_no) and not branch.b_no = 0

	</select>
</mapper>