<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="empMapper">

	<!-- 회원가입 -->
	<insert id="register">
	    INSERT INTO EMP(   E_NO 
	   					       , P_NO 
	   					       , B_NO
	   					       , E_NAME
	   					       , PHONE1
	   					       , PHONE2
	   					       , PHONE3
	   					       , SAL
	   					       , HIRE)
	                  VALUES(    E_NO_SEQ.NEXTVAL
	                 		   , 0
	                 		   , 0
	                 		   , #{e_name}
	                 		   , #{phone1}
	                 		   , #{phone2}
	                 		   , #{phone3}
	                 		   , 0
	                 		   , SYSDATE
	                 		   )
    </insert>
    
</mapper>