<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="managerMapper">

	<!-- 회원가입 -->
	<insert id="register">
	    INSERT INTO MANAGER(   ID 
	   					       , E_NO 
	   					       , PWD
	   					       , M_FLAG
	   					       )
	                  VALUES(    #{id}
	                 		   , 
	                 		   (select LAST_NUMBER from user_sequences
	                 		   where SEQUENCE_NAME = 'E_NO_SEQ') - 1
	                 		   , #{pwd}
	                 		   , 0
	                 		   )
    </insert>
    
</mapper>



